In [1]:
import pandas as pd
import numpy as np
s = pd.Series([1,2,3,4,np.nan,5,6,7,8,9])
print(s)

0    1.0
1    2.0
2    3.0
3    4.0
4    NaN
5    5.0
6    6.0
7    7.0
8    8.0
9    9.0
dtype: float64

In [2]:
import pandas as pd
import numpy as np
data = np.array(['a','b','c','d'])
s = pd.Series(data,index=[100,101,102,103])
print (s)

100    a
101    b
102    c
103    d
dtype: object

In [7]:
import pandas as pd
import numpy as np
d = pd.date_range('20200412',periods = 10)
print(d)

DatetimeIndex(['2020-04-12', '2020-04-13', '2020-04-14', '2020-04-15',
               '2020-04-16', '2020-04-17', '2020-04-18', '2020-04-19',
               '2020-04-20', '2020-04-21'],
              dtype='datetime64[ns]', freq='D')

In [13]:
import pandas as pd
import numpy as np
data = {'Name':['Arun', 'Ram', 'Sibani', 'Roham'],'Age':[28,34,29,42]}
df = pd.DataFrame(data)
print (df)

     Name  Age
0    Arun   28
1     Ram   34
2  Sibani   29
3   Roham   42

In [15]:
import pandas as pd
import numpy as np
data = {'Name':['Arun', 'Ram', 'Sibani', 'Roham'],'Age':[28,34,29,42]}
df = pd.DataFrame(data)
print(df.dtypes)

Name    object
Age      int64
dtype: object

In [17]:
import pandas as pd
import numpy as np

data = {'Name':['Arun', 'Ram', 'Sibani', 'Roham'],'Age':[28,34,29,42]}
df = pd.DataFrame(data)
print(df.columns)

Index(['Name', 'Age'], dtype='object')

In [19]:
import pandas as pd
import numpy as np

data = {'Name':['Arun', 'Ram', 'Sibani', 'Roham'],'Age':[28,34,29,42]}

df = pd.DataFrame(data)
print(df.sort_values("Age",ascending = False))

     Name  Age
3   Roham   42
1     Ram   34
2  Sibani   29
0    Arun   28

In [20]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3], 'B': [3, 4, 5]})
print(df.size)

6

In [22]:
import numpy as np
import pandas as pd
df = pd.DataFrame([('falcon', 'bird', 389.0),
                    ('parrot', 'bird', 24.0),
                    ('lion', 'mammal', 80.5),
                     ('monkey', 'mammal', np.nan)],
                    columns=('name', 'class', 'max_speed'))
print(df)
df.pop('class')
print(df)

     name   class  max_speed
0  falcon    bird      389.0
1  parrot    bird       24.0
2    lion  mammal       80.5
3  monkey  mammal        NaN
     name  max_speed
0  falcon      389.0
1  parrot       24.0
2    lion       80.5
3  monkey        NaN

In [23]:
import pandas as pd
df = pd.DataFrame({'animal': ['alligator', 'bee', 'falcon', 'lion',
                     'monkey', 'parrot', 'shark', 'whale', 'zebra']})
print(df.head(3))

      animal
0  alligator
1        bee
2     falcon

In [24]:
import pandas as pd
df = pd.DataFrame({'animal': ['alligator', 'bee', 'falcon', 'lion',
                     'monkey', 'parrot', 'shark', 'whale', 'zebra']})
print(df.tail(3))

  animal
6  shark
7  whale
8  zebra